import React, { ReactElement } from 'react';
import clsx from 'clsx';
import { action } from '@storybook/addon-actions';
import { Story } from '@storybook/react';
import type { {{ properCase name }}Props } from '../{{ properCase name }}';
import {{ properCase name }} from '../{{ properCase name }}';
import {
  enableAddons,
  addCustomControls,
} from '@/utils/storybook-shared';

export default {
  title: 'Components/{{ properCase name }}',
  component: {{ properCase name }},
};

// playground for storybook test

const PlaygroundTemplate: Story<{{ properCase name }}Props> = (props: {{ properCase name }}Props) => {
  return (
    <div className="flex justify-center">
      <{{ properCase name }} {...props} />
    </div>
  );
};

export const Playground = PlaygroundTemplate.bind({});
Playground.args = {};
enableAddons(Playground, ['controls', 'actions', 'a11y', 'backgrounds']);